@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans), sans-serif;
  --font-serif: var(--font-serif), serif;
  --font-mono: var(--font-mono), monospace;
}

.serif-title {
  font-family: var(--font-serif);
  font-weight: 400;
  font-style: italic;
}
